body {
    background-color: white;
    color: #303030;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding: 20px;
    transition: background 0.2s linear;
}

body.dark {
    background-color: #292929;
    color: #f0f0f0;
}

main {
    background-color: #f0f0f0;
    border-radius: 6px;
    box-shadow: 3px 3px 12px #c8c8c8;
    max-width: 90vw;
    max-height: 90vh;
    padding: 20px 20px 0;
    margin: auto auto;
    overflow: auto;
    transition: background 0.2s linear;
}

main.dark {
    background-color: #1f1f1f;
    box-shadow: 3px 3px 12px black;
}

.darkmode {
    background-color: cornflowerblue;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase;
    margin: 10px auto; 
    display: block;  
}

ol {
    list-style: none;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
    min-height: 40px;
}

li {
    padding: 10px;
}

li:nth-child(odd) {
    background-color: #e3e3e3;
    border-radius: 6px;
    transition: background 0.2s linear;
}

li:nth-child(odd).dark {
    background-color: black;
}

form {
    background-color: lightsteelblue;
    border-radius: 6px;
    margin-top: 20px;
    padding: 10px;
    transition: background 0.2s linear;
}

form.dark {
    background-color: #333743;
    color: white;
}

button {
    background-color: cornflowerblue;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: background 0.2s linear;
}

input {
    border: none;
    border-radius: 3px;
    font-size: 15px;
    padding: 5px;
}

input.dark {
    background-color: #292929;
    color: white;
}

#initials {
    width: 40px;
}

#message {
    width: 83vw;
}